@model IEnumerable<MLBcapstone.Models.PlayersInfo>

@{
    ViewBag.Title = "OptimizeRoster";
}

<h2>OptimizeRoster</h2>

<p>
   
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerValue)
        </th>
        <th></th>
    </tr>
    @*<thead>
        <tr>
            <th>playerName</th>
            <th>position</th>
            <th>playerRating</th>
            <th>salary</th>
            <th>playerValue</th>
        </tr>
    </thead>*@
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.playerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.playerName }) |
            @Html.ActionLink("Details", "Details", new { id=item.playerName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.playerName })
        </td>
    </tr>
}
   
    </tbody>
    @Model.Sum(x => x.playerValue)
</table>

<input type="button" value="Clear" onclick="location.href='@Url.Action("PlayerTable", "Home")'" />

@*@section scripts
{
    <script>
        $(document).ready(function () {
            $("#players").DataTable({
                ajax: {
                    url: "/Home/OptimizeRoster",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "playerName" ,
                        render: function(data, type, playerName){
                            return "<a href='/players/edit/" + player.id + "'>" + player.name + "</a>";
                        }
                    }
                ]
            
            });
</script>*@
   
