@model IEnumerable<MLBcapstone.Models.PlayersInfo>

@{
    ViewBag.Title = "OptimizeRosterSecondMostExpensive";
}

<h2>Second Most Expensive Roster</h2>
<br />
<h5>Combined Player Rating</h5>
@Model.Sum(x => x.playerRating)
<h5>Total Roster Salary</h5>
@Model.Sum(x => x.salary)
<h5>Combined Player Value</h5>
@Model.Sum(x => x.playerValue)

<input type="button" value="Optimize Second Roster Based On Rating" onclick="location.href='@Url.Action("OptimizeRosterThirdMostExpensive", "Home")'" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerValue)
        </th>
        <th></th>
    </tr>

@{ var item = Model.ToList();
    for (int i = 25; i < item.Count; i++)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item[i].playerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item[i].position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item[i].playerRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item[i].salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item[i].playerValue)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.playerName }) |
            @Html.ActionLink("Details", "Details", new { id=item.playerName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.playerName })
        </td>*@
    </tr>
        }
    }

</table>

<input type="button" value="Clear" onclick="location.href='@Url.Action("PlayerTable", "Home")'" />
