@model IEnumerable<MLBcapstone.Models.PlayersInfo>

@{
    ViewBag.Title = "PlayerTable";
}

<h2>Player Table</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.playerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.playerName }) |
            @Html.ActionLink("Details", "Details", new { id=item.playerName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.playerName })
        </td>
    </tr>
}

</table>

@*<p><a href="localhost:58047/Home/OptimizeRoster" class="btn btn-primary btn-lg">Optimize &raquo;</a></p>*@

<input type="button" value="Optimize" onclick="location.href='@Url.Action("OptimizeRoster", "Home")'" />
